@model ExpenseTracker.Models.Category
<form asp-action="Edit">
    <h2>Category Details</h2>
    <br />
    <input type="hidden" asp-for="CategoryId" />

    <partial name="_Create" />
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
    
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}